<footer class="bg-dark text-center text-light text-lg-start">
    <div class="text-center p-3">
      © 2024 Copyright:
      <a class="text-light" href="https://vittechnology.in/">Vittechnology.in</a>
    </div>
</footer>